@{
    ViewData["Title"] = "Home Page";
}
<h1>Home</h1>

<a class="btn-go" asp-action="Index" asp-controller="Example">Example Index</a><br />
<a class="btn-go"asp-action="Add" asp-controller="Example">Add Example</a>